# Compiled
__pycache__/
*.py[cod]

# Generated / secret
**/Logs/
**/Outputs/
**/credentials/
**/backup/
**/gsutil/
**/MDNs/
*.swp

# Atmospheric correction
**/acolite/acolite/
**/acolite/config/
**/acolite/data/
**/polymer/polymer/
**/l2gen/auxdata/
**AC/L2_processing/
